body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  min-height: 100%;
  background-color: ivory;
  font-family: 'Patrick Hand SC', sans-serif;
}

/* override some paper.css defaults */

img {
  display: inline-block;
}

a {
  background: none;
}

.row {
  margin-bottom: 0;
}

/* hide ace editor warnings */
.ace_gutter-cell.ace_warning {
  display: none;
}
